name: Updates
on:
  workflow_dispatch:
  schedule:
    - cron: '30 0,8,16 * * *'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: 3.11 
      
    - name: Installing all necessary packages
      run: pip install requests beautifulsoup4 
       
    - name: Run script
      run: python main.py

    - name: Commit & Push changes
      uses: actions-js/push@master
      with:
        message: "Done"
        branch: "main"
        github_token: ${{ secrets.GITHUB_TOKEN }}
